html, 
body {
    background-image: url(../images/hypnotize.png);
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

h1,
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #4aaaa5;
}

hr {
    border: none;
    height: 3px;
    background-color: #dddddd;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    background-color: #4aaaa5;
    padding: 20px;
}

.container {
    max-width: 960px;
    padding: 0;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
    color: #777777;
}

.navbar ul li:nth-child(2),
.navbar ul li:last-child {
    border-left: 1px solid #cccccc;
}

.main-content {
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile-pic {
    width: 100%;
    margin-right: 1em;
    margin-bottom: 1em;
}

.main-content p {
    line-height: 2em;
    letter-spacing: 2px;
}

.main-content p::first-line {
    line-height: 1;
}

.padding {
    padding: 0;
}

.card-footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    padding-top: 20px;
}

.card-footer p {
    color: #fff;
    font-size: 12px;
    margin-bottom: 0;
}

[type="submit"] {
    background-color: #4aaaa5;
    border-radius: 0;
    padding-left: 25px;
    padding-right: 25px;
}

input::placeholder {
    opacity: 0.3;
    font-style: italic;
}

.projects {
    width: 100%;
    max-height: 250px;
    margin-bottom: 30px;
}

.carousel-caption {
    background-color: #4aaaa5;
    right: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

::placeholder {
    font-size: .8em;
    opacity: .5;
}

.wrapper {
    margin-bottom: 100px;
}

@media screen and (max-width: 569px) {
    .navbar-brand,
    .nav {
        width: 100%;
    }

    .navbar-brand {
        margin: 0;
        text-align: center;
    }

    .nav-item {
        text-align: center;
        flex: 1;
        margin: 10px auto;
    }
}